@media only screen and (max-width: 768px) {
    .web-notise-text-box {
        width: 60%;
    }

    .web-notise-text-box_h1 {
        font-size: 0.8rem;
    }

    .web-notise-text-box_text {
        font-size: 0.7rem;
    }

    .web-notise-text-box_tag {
        font-size: 0.7rem;
    }

    .web-notise-img-box {
        width: 200px;
    }

    .block-button-admin {
        width: 100%;
    }

    .button-admin {
        width: 140px;
        height: 50px;
        font-size: 0.7rem;
    }
}